@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  /* --- Sevenpreneur Brand Color ---*/

  /* brand */
  --color-sevenpreneur-blue-azure: #0165fc;
  --color-sevenpreneur-blue-sky: #c5ddff;
  --color-sevenpreneur-blue-whisper: #a0c7ff;
  --color-sevenpreneur-blue-cobalt: #0041c2;
  --color-sevenpreneur-blue-royal: #003399;
  --color-sevenpreneur-pink-rose: #e74d79;
  --color-sevenpreneur-pink-crimson: #cc446a;
  --color-sevenpreneur-pink-blush: #fcc8d8;
  --color-sevenpreneur-pink-raspberry: #ffa6c1;
  --color-sevenpreneur-purple-indigo: #3417e3;
  --color-sevenpreneur-purple-royal: #2d12ca;
  --color-sevenpreneur-purple-lavender: #b3aae9;
  --color-sevenpreneur-red-flame: #e62314;
  --color-sevenpreneur-red-burn: #cd1f11;
  --color-sevenpreneur-red-mist: #ffcdc9;
  --color-sevenpreneur-red-salmon: #ffb1ab;
  --color-sevenpreneur-green-aqua: #65d6ca;
  /* neutral */
  --color-sevenpreneur-white: #ffffff;
  --color-sevenpreneur-coal: #0c0d0e;
  --color-sevenpreneur-dust: #949494;
  --color-sevenpreneur-surface-black: #171616;
  --color-sevenpreneur-white-cream: #fbfbfb;
  --color-sevenpreneur-charcoal: #1c1c1c;
  --color-sevenpreneur-ash: #e3e3e3; /* for border */
  --color-sevenpreneur-smoke: #3a3939;
  --color-sevenpreneur-subtle: #707070;
  /* midnight */
  --color-sevenpreneur-blue-midnight: #001659;
  --color-sevenpreneur-pink-midgnight: #5a2432;
  --color-sevenpreneur-purple-midnight: #2a1f5c;
  --color-sevenpreneur-red-midnight: #3e1913;
  --color-sevenpreneur-green-midnight: #133e33;
  --color-sevenpreneur-yellow-midnight: #3e3d13;
  /* state */
  --color-sevenpreneur-soft-success: #daf2f0;
  --color-sevenpreneur-accent-success: #499e95;
  --color-sevenpreneur-soft-warning: #fef2d0;
  --color-sevenpreneur-accent-warning: #d99e00;
  --color-sevenpreneur-soft-danger: #f6d7e0;
  --color-sevenpreneur-accent-danger: #df396a;

  /* --- UI Design System --- */

  /* solid */
  --color-primary: var(--color-sevenpreneur-blue-azure);
  --color-primary-background: var(--color-sevenpreneur-blue-azure);
  --color-primary-foreground: var(--color-sevenpreneur-white);
  --color-primary-hover: var(--color-sevenpreneur-blue-cobalt);
  --color-primary-active: var(--color-sevenpreneur-blue-cobalt);
  --color-primary-muted: var(--color-sevenpreneur-blue-sky);
  --color-secondary: var(--color-sevenpreneur-pink-rose);
  --color-secondary-background: var(--color-sevenpreneur-pink-rose);
  --color-secondary-foreground: var(--color-sevenpreneur-white);
  --color-secondary-hover: var(--color-sevenpreneur-pink-crimson);
  --color-secondary-active: var(--color-sevenpreneur-pink-crimson);
  --color-secondary-muted: var(--color-sevenpreneur-pink-blush);
  --color-tertiary: var(--color-sevenpreneur-purple-indigo);
  --color-tertiary-background: var(--color-sevenpreneur-purple-indigo);
  --color-tertiary-foreground: var(--color-sevenpreneur-white);
  --color-tertiary-hover: var(--color-sevenpreneur-purple-royal);
  --color-tertiary-active: var(--color-sevenpreneur-purple-royal);
  --color-tertiary-muted: var(--color-sevenpreneur-purple-lavender);
  --color-destructive: var(--color-sevenpreneur-red-flame);
  --color-destructive-background: var(--color-sevenpreneur-red-flame);
  --color-destructive-foreground: var(--color-sevenpreneur-white);
  --color-destructive-hover: var(--color-sevenpreneur-red-burn);
  --color-destructive-active: var(--color-sevenpreneur-red-burn);
  --color-destructive-muted: var(--color-sevenpreneur-red-mist);
  /* soft */
  --color-primary-soft: var(--color-sevenpreneur-blue-sky);
  --color-primary-soft-background: var(--color-sevenpreneur-blue-sky);
  --color-primary-soft-foreground: var(--color-sevenpreneur-blue-azure);
  --color-primary-soft-hover: var(--color-sevenpreneur-blue-whisper);
  --color-primary-soft-active: var(--color-sevenpreneur-blue-whisper);
  --color-primary-soft-muted: var(--color-sevenpreneur-blue-sky);
  --color-secondary-soft: var(--color-sevenpreneur-pink-blush);
  --color-secondary-soft-background: var(--color-sevenpreneur-pink-blush);
  --color-secondary-soft-foreground: var(--color-sevenpreneur-pink-rose);
  --color-secondary-soft-hover: var(--color-sevenpreneur-pink-raspberry);
  --color-secondary-soft-active: var(--color-sevenpreneur-pink-raspberry);
  --color-secondary-soft-muted: var(--color-sevenpreneur-pink-blush);
  --color-destructive-soft: var(--color-sevenpreneur-red-mist);
  --color-destructive-soft-background: var(--color-sevenpreneur-red-mist);
  --color-destructive-soft-foreground: var(--color-sevenpreneur-red-flame);
  --color-destructive-soft-hover: var(--color-sevenpreneur-red-salmon);
  --color-destructive-soft-active: var(--color-sevenpreneur-red-salmon);
  --color-destructive-soft-muted: var(--color-sevenpreneur-red-mist);
  /* neutral */
  --color-light: var(--color-sevenpreneur-white);
  --color-light-background: var(--color-sevenpreneur-white);
  --color-light-foreground: var(--color-sevenpreneur-coal);
  --color-light-hover: var(--color-sevenpreneur-white-cream);
  --color-light-active: var(--color-sevenpreneur-white-cream);
  --color-light-muted: var(--color-sevenpreneur-white);
  --color-dark: var(--color-sevenpreneur-charcoal);
  --color-dark-background: var(--color-sevenpreneur-charcoal);
  --color-dark-foreground: var(--color-sevenpreneur-dust);
  --color-dark-hover: var(--color-sevenpreneur-surface-black);
  --color-dark-active: var(--color-sevenpreneur-surface-black);
  --color-dark-muted: var(--color-sevenpreneur-surface-black);
  /* state */
  --color-success: var(--color-sevenpreneur-accent-success);
  --color-success-background: var(--color-sevenpreneur-soft-success);
  --color-success-foreground: var(--color-sevenpreneur-accent-success);
  --color-warning: var(--color-sevenpreneur-accent-warning);
  --color-warning-background: var(--color-sevenpreneur-soft-warning);
  --color-warning-foreground: var(--color-sevenpreneur-accent-warning);
  --color-danger: var(--color-sevenpreneur-accent-danger);
  --color-danger-background: var(--color-sevenpreneur-soft-danger);
  --color-danger-foreground: var(--color-sevenpreneur-accent-danger);
  /* utilities */
  --color-border: var(--color-sevenpreneur-ash);
  --color-emphasis: var(--color-sevenpreneur-subtle);
  --color-muted: var(--color-sevenpreneur-dust);
  --color-muted-background: var(--color-sevenpreneur-dust);
  --color-muted-foreground: var(--color-sevenpreneur-dust);
  --color-section-background: #f5f7fb;
  /* legacy */
  --color-word-black: var(--color-sevenpreneur-dust);
  --color-surface-black: var(--color-sevenpreneur-surface-black);

  /* Breakpoint */
  --breakpoint-xs: 31.75rem;
  --breakpoint-3xl: 120rem;
  --breakpoint-4xl: 160rem;
  --breakpoint-5xl: 215rem;

  /* Aspect ratio */
  --aspect-thumbnail: 1.776/1;
  --aspect-mobile-banner: 3.4/2;
  --aspect-desktop-banner: 4/1;
  --aspect-interstitial-banner: 9/16;
  --aspect-web-popup: 17/10;
  --aspect-leaderboard-banner: 4.55/1;
  --aspect-panorama-leaderboard: 49/6;
  --aspect-card-restart: 7/4;
  --aspect-topic-restart: 1.51/1;
  --aspect-speaker-restart: 0.8766/1;
}

:root {
  --background: var(--color-sevenpreneur-white);
  --foreground: var(--color-surface-black);

  /* --- Default Shadcn --- */

  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  /* --- UI Design System --- */

  /* solid */
  --color-primary-muted: var(--color-sevenpreneur-blue-midnight);
  --color-secondary-muted: var(--color-sevenpreneur-pink-midgnight);
  --color-tertiary-muted: var(--color-sevenpreneur-purple-midnight);
  --color-destructive-muted: var(--color-sevenpreneur-red-midnight);
  /* soft */
  --color-destructive-soft-background: var(--color-sevenpreneur-red-midnight);
  /* state */
  --color-success-background: var(--color-sevenpreneur-green-midnight);
  --color-warning-background: var(--color-sevenpreneur-yellow-midnight);
  --color-danger-background: var(--color-sevenpreneur-pink-midgnight);
  /* utilities */
  --color-border: var(--color-sevenpreneur-smoke);

  /* --- Default Shadcn ---*/

  --background: var(--color-sevenpreneur-coal);
  --foreground: var(--color-sevenpreneur-dust);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  /* --- UI Design System --- */

  /* Typography */
  --font-brand: var(--font-mona-sans);
  --font-bodycopy: var(--font-plus-jakarta-sans);
  --font-read: var(--font-inter);
  --font-ui: var(--font-open-sauce-one);

  /* --- Default Shadcn --- */

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}
