@font-face {
    font-family: 'Open Sauce One';
    src: url("../../../fonts/OpenSauceOne-Light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sauce One';
    src: url("../../../fonts/OpenSauceOne-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sauce One';
    src: url("../../../fonts/OpenSauceOne-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sauce One';
    src: url("../../../fonts/OpenSauceOne-SemiBold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sauce One';
    src: url("../../../fonts/OpenSauceOne-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sauce One';
    src: url("../../../fonts/OpenSauceOne-ExtraBold.ttf") format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sauce One';
    src: url("../../../fonts/OpenSauceOne-Black.ttf") format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* --- Styling Mobile */
.terms_conditions {
    display: flex;
    flex-direction: column;
    padding: 64px 20px;
    justify-content: center;
    max-width: 768px;
    margin: 0 auto;
    gap: 2px;
    font-family: 'Open Sauce One', sans-serif;
}

.terms_conditions h1 {
    font-weight: 800;
    font-size: 24px;
}

.terms_conditions h2 {
    font-weight: 700;
    font-size: 18px;
}

.terms_conditions h3 {
    font-weight: 700;
    font-size: 16px;
}

.terms_conditions hr {
    border: none;
    border-top: 1px solid #E3E3E3;
    margin: 20px 0;
}

.terms_conditions p {
    color: #333333;
    font-size: 14px;
}

.terms_conditions ul {
    list-style-type: disc;
    padding-left: 20px;
}

.terms_conditions li {
    font-size: 14px;
}

.terms_conditions a {
    color: #0165FC;
    text-decoration: underline;
}

/* --- Responsive to Desktop */
@media (min-width: 1024px) {
    .terms_conditions {
        gap: 4px;
        padding: 100px 20px;
    }

    .terms_conditions h1 {
        font-size: 32px;
    }

    .terms_conditions h2 {        
        font-size: 24px;
    }
    
    .terms_conditions h3 {        
        font-size: 20px;
    }
    
    .terms_conditions p {
        font-size: 16px;
    }
    
    .terms_conditions li {
        font-size: 16px;
    }
}